<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>MarketGame</title>
    <link rel="stylesheet" type="text/css" href="./../../public/StyleSheets/MarketScreen.css">
    <script src="./../../public/javascript/marketScreen.js"></script>
</head>

<body onload="loadDb()">
    <div class="card-header"></div>
    <div class="scene">
        <div class="task">
            Buy
            <span> the <%= questions.product%></span>
        </div>
        <div class="row">
            <div class="drop-coin" style="border : solid red 1px" id="drop-coin">
                <% questions.question.forEach(function(posts){ %>
                    <div class=" coin coin-<%= posts %> " id="<%= posts %>" style="left: 50px; top: 50px; touch-action : pan-y"></div>
                    <% }) %>
            </div>
            <div class="drop " id="drop" style="border : solid red 1px">
                <div class="drop-bg" id="drop-bg"></div>
                <div class="drop-frame" id="drop-frame">
                    <div class="paid">
                        <span id="paid"> paid</span>
                    </div>
                </div>
                <div class="slot empty" style="top : 300px; left: 76px " )></div>
                <div class="slot empty" style="top : 300px; left: 265px " )></div>
                <div class="slot empty" style="top : 244px; left: 166px " )></div>
                <div class="slot empty" style="top : 191px; left: 77px " )></div>
                <div class="slot empty" style="top : 191px; left: 256px " )></div>
                <div class="slot empty" style="top : 140px; left: 166px " )></div>
                <div class="button button-active abc" onclick="ButtonClick()" id="myBtn" style="border-radius: 20px;opacity: 100%;">
                    <div class="buy">Buy</div>
                </div>

            </div>
            <div class="product" style="border : solid red 1px">
                <div class="price" style=" position: absolute;left: 150px;top: 300px;border-radius: 50%;width: 150px; height: 150px; background-color: rebeccapurple; text-align: center;z-index: 10;">
                    <div style="padding-top: 40px ; font-size: 35px; font-family: Arial, Helvetica, sans-serif;color: white;">Price
                        <br> 10
                    </div>

                </div>
                <img src="./../../public/image/Game-2/<%=questions.product%>.png" draggable="false" style="position: absolute;left: 200px;top: 50px;" alt="<%=questions.product%>">

            </div>
        </div>


</body>

</html>